.InvestMentOptions{
    margin-top: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius:0.4rem ;
    background-color:white;
}
h4{
    font-size: 11.7px;
}
h2{
    font-size: 20px;
}
img{
    width: 90px;
}
.img1{
   margin-left: 5rem;
}
h7{
   font-size:  11.7px;
}
.rate{
        font-size: 10px;
        color: skyblue;
}
@media (min-width: 429px) and (max-width: 920px){
      .graphs{
        display: grid;
        grid-template-columns: auto auto;
    }
    .InvestMentOptions{
      margin-top:53rem;
      width: 90%;
    }
    .img1{
        margin-left: 1.5rem;
     }
     .grant-recommendation{
     
        font-size: 0.8rem;
        margin-left: 1rem;
    }
    .filter-block{
        margin-top: rem;
        width: 90%;
        /* margin-left: 3%;
        margin-right: 3%; */
    }
    .InvestMentOptions{
        margin-top:52rem;
        width: 90%;
    }
}
@media(max-width: 429px) {
    /* For mobile phones: */
    .graphs{
        display: grid;
        grid-template-columns: auto auto;
    }
    .InvestMentOptions{
      margin-top:50rem;
      width: 90%;
    }
    .img1{
        margin-left: 1.5rem;
     }
     .grant-recommendation{
     
        font-size: 0.8rem;
        margin-left: 1rem;
    }
    .filter-block{
        margin-top: rem;
        width: 90%;
        /* margin-left: 3%;
        margin-right: 3%; */
    }
   
  }
  @media (min-width:920px){
      .graphs{
        display: flex;
      }
      .grant-recommendation{
        font-size: 1.6rem;
        margin-left: 2rem;
        width: 80%;
    }
    .investMentOptions{
        margin-left: 5rem;
    }
    .filter-button{
        border: none;
    }
    .filter-buttons{
        width: 25%;
      }
  }
  .filter-button{
   
    border-radius: 4px;
    color:white;
    margin-left: 2rem;
    background-color: skyblue;
    margin-top: 1rem;
    font-size: 15px;
    padding-left:0.3rem ;
    padding-right:0.2rem ;
  }
  
.filter-block{
    padding:auto auto;
    align-items: center;
    height:7rem;
    background-color:white;
}

